:root{
  --background-gradient-1: red;
  --background-gradient-2: blue;
  --text-color: #ecf0f1;
  --shadow-color: black;
  --highlight-color: green;
}

*{
  margin: 0;
  padding: 0;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  height: 100vh;
  overflow: hidden;
  overflow: -moz-hidden-unscrollable;

  background-image: linear-gradient(to bottom right, var(--background-gradient-1), var(--background-gradient-2));
  color: var(--text-color);
}

div{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}