:root{
  --background-gradient-1: red;
  --background-gradient-2: blue;
  --text-color: #ecf0f1;
  --shadow-color: black;
  --highlight-color: green;
}

*{
  margin: 0;
  padding: 0;
}

body{
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  height: 100vh;
  overflow-y: hidden;
  overflow-y: -moz-hidden-unscrollable;

  background-image: linear-gradient(to bottom right, var(--background-gradient-1), var(--background-gradient-2));
  color: var(--text-color);
  text-shadow: 3px 3px 3px var(--shadow-color);
}

div{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1{
  transition: .3s all;
  cursor: default;
}

h1:hover{
  transition: .5s all;
  text-shadow: 1px 1px 6px var(--shadow-color);
}

i{
  transition: .5s all;
}

i:hover{
  transition: .5s all;
  text-shadow: 1px 1px 6px var(--shadow-color);
}

/* ===== TITLE CONTAINER ===== */

.titleContainer h1{
  font-size: 6vh;
}

.titleContainer i{
  font-size: 6vh;
  transition: .5s all;
}

.titleContainer h3{
  font-size: 3vh;
}

/* ===== PROFILE IMAGE CONTAINER ===== */
.profileImageContainer .profileDiv{
  border-radius: 100%;
  border: 5px solid var(--text-color);

  width: 40vh;
  height: 40vh;

  margin: 20px;

  background-repeat: no-repeat;
  background-size: cover;

  transition: .5s all;
  box-shadow: 3px 3px 3px var(--shadow-color);
}

.profileImageContainer .profileDiv:hover{
  transition: .5s all;
  box-shadow: 1px 1px 6px var(--shadow-color);
}