@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700;900&display=swap');


/* background-image: radial-gradient( circle farthest-corner at 16.5% 28.1%,  rgba(15,27,49,1) 0%, rgba(0,112,218,1) 90% ); */

:root{
  --background-gradient-1: #000;
  --background-gradient-2: #2c3e50;
  --text-color: #ecf0f1;
  --shadow-color: black;
  /* --highlight-color: #ff3f34; */
  --highlight-color: #c0392b;
}

*{
  margin: 0;
  padding: 0;
  font-family: 'Titillium Web', sans-serif;
}

a{
  text-decoration: none;
  color: var(--text-color);
  transition: .2s all;
}

a:hover{
  color: var(--highlight-color);
  transition: .2s all;
}

body{
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  height: 100vh;
  overflow-y: hidden;
  overflow-y: -moz-hidden-unscrollable;

  background-color: var(--background-gradient-1);
  background-image: linear-gradient(to bottom right, var(--background-gradient-1), var(--background-gradient-2));
  color: var(--text-color);
  text-shadow: 3px 3px 3px var(--shadow-color);
}

div{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1, h3{
  font-weight: 500;
}

h1{
  font-size: min(6vh, 12vw);

  transition: .2s all;
  cursor: default;
}

h1:hover{
  transition: .2s all;
  text-shadow: 1px 1px 6px var(--shadow-color);

  
}

h3{
  font-size: min(3vh, 6vw);

  transition: .2s all;
  cursor: default;
}

h3:hover{
  transition: .2s all;
  text-shadow: 1px 1px 6px var(--shadow-color);
}

i{
  transition: .2s all;
}

i:hover{
  transition: .2s all;
  text-shadow: 1px 1px 6px var(--shadow-color);
}

/* ===== TITLE CONTAINER ===== */

.titleContainer i{
  font-size: min(6vh, 12vw);
  transition: .2s all;
}

/* ===== PROFILE IMAGE CONTAINER ===== */
.profileImageContainer .profileDiv{
  border-radius: 100%;
  border: 5px solid var(--text-color);

  width: min(40vh, 80vw);
  height: min(40vh, 80vw);

  margin: 20px;

  background-repeat: no-repeat;
  background-size: cover;

  transition: .2s all;
  box-shadow: 3px 3px 3px var(--shadow-color);
}

.profileImageContainer .profileDiv:hover{
  transition: .2s all;
  box-shadow: 1px 1px 6px var(--shadow-color);
}

/* ===== SOCIAL MEDIA BUTTONS CONTAINER ===== */

.socialButtonsContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.socialButtonsContainer i{
  font-size: min(6vh, 12vw);
  margin: 10px;

  transition: .2s all;
}

.socialButtonsContainer i:hover{
  /* font-size: 7vh; */

  transform: scale(1.3);
  -moz-transform: scale(1.3);
  -o-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -webkit-transform: scale(1.3);

  transition: .2s all;
}

/* ===== CONTACT INFORMATION CONTAINER ===== */

.contactInformationContainer a{
  margin: 10px;
  font-size: min(2.5vh, 5vw);
  font-weight: 400;
}

.contactInformationContainer i{
  font-size: min(3vh, 6vw);

  margin-right: 10px;
}